<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" type="" href="css/style.css">
    <!-- use relative paths -->
</head>
<body>
    <h2>{{caption}}</h2>
    <!-- not pure html, need to handled by handlebars before rendered by the browser -->
    <img src="images/TEDxHBTI.jpg" alt="TEDxHBTI 2018"
    width="1008px" height="756px" >
    
</body>
</html>
